#cloud-config
repo_update: true
repo_upgrade: all

packages:
    - apache2

runcmd:
    - systemctl status apache2
    - systemctl enable apache2
    - [sh, -c, 'echo "<h1> Deployed machine via Terraform<h1>" | sudo tee /var/www/html/index.html']

outout:
    all: '| tee -a /var/log/colud-init-output.log'